.cabeza{
    display: flex;
    height: 60;
    width: 650px;
}
.logo{
    
    width: 60px;
    height: 60px;
}
.titulo{
    height: 60px;
    width: 90px;
}
.icono{
    height: 25px;
    width: 30px;
    display: block;
    position: relative;
    left: 75%;
    
}
.padre{
    margin: 300px;
    margin-top: 100px;
    background-color: white;
    padding: 10px;
}
.guardar{
    position: relative;
    left: 530px;

}
body{background-color: black;}
.foto{width: 100%;}